.footer-home {
    margin-top: 0px;
}

.footer-home section {
    text-align: center;
}

.footer-home section i {
    width: 2em;
    height: 0em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--Celeste);
    font-size: x-large;
}

.footer-home section h4 {
    text-align: center;
}

.footer-home section h4 p {
    text-align: center;
}

.footer-home section p {
    text-align: center;
}

.footer-home div {
    margin-left: 17px;
}