:root {
    /* COLORES */
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris: #666;
    --blanco: #ebebeb;
    --verde: #39b54a;
  
    /* TIPOGRAFIA */
    --familyRoboto:"Roboto", sans-serif;
  
    /* TAMAÑOS TIPOGRAFIAS */
    --bodyTextSize: 12px;
    --titleTextSize: 24px;
    --priceTextSize: 18px;
    --discountTextSize: 16px;
    --descriptionTextSize: 16px;
  };
  
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--familyRoboto);
    margin: 0px;
  }
  .truck {
    color: var(--verde);
    border-radius: 50%;
    border-color: var(--verde);
    border: solid 1px;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .off {
    color: var(--verde);
    margin-top: 0px;
  }
  .precio {
    margin-bottom: 0px;
  }

